[Unit]
Description=gunicorn socket

[Socket]
#ListenStream=/run/gunicorn/socket
ListenStream=/opt/cath-swissmodel-api/cathapi/cathapi.sock

[Install]
WantedBy=sockets.target

